$bgColor: #F8F8F8;
$sideBarColor: #ffffff;
$iconsColor: #FF3E79;
$activeColor:#41F6D7; 
$activeTextColor:#7E7E82; // цвет активного текста
$textColor:#1B1C21; //основной текст цвета
$lineColor: #EAEAEA;
$modalInputColor:#B5B6BC;
$paginationColor: #DDDDDD;
// Шрифты
$fontNormal: 'TTLakes-normal', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
$fontBold: 'TTLakes-bold','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fontMedium: 'TTLakes-medium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;